extends layout

block content
  .inner
    form.form(method="POST")
      h2 Reset Your Password
      label(for="password") Password
      input(type="password" id="password" name="password")
      label(for="confirm-password") Confirm Password
      input(type="password" id="confirm-password" name="confirm-password")
      input(type="submit" value="Reset" class="password")
